VideoMarketingWeb/web_files/i18n_langs/langSchema.xsd

<?xml version="1.0"?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="web_texts">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="property_doesnt_exists" type="xs:string" />
                <xs:element name="property_value_unknown" type="xs:string" />
                <xs:element name="no_telecomm_conn" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
